flies/visualization/animations/
flies/visualization/animation_frames/

flies/training/NOTES.md
*/*/__pycache__
*/__pycache__/

flies/training/outputs/
flies/visualization/recon_viz/
flies/training/comparison.png